In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Step 01: Loading the UCS Satellite Dataset

In [10]:
file_path= "../data/text-data/ucs_satellites.txt"

df= pd.read_csv(file_path, sep="\t", encoding="latin1")

print("Shape of the dataset: ", df.shape)
print("\nColumn names: ", df.columns)
print("\nFirst 5 rows: ", df.head())
print("\nData types: ", df.dtypes)

Shape of the dataset:  (7562, 67)

Column names:  Index(['Current Official Name of Satellite', 'Country/Org of UN Registry',
       'Country of Operator/Owner', 'Operator/Owner', 'Users', 'Purpose',
       'Detailed Purpose', 'Class of Orbit', 'Type of Orbit',
       'Longitude of GEO (degrees)', 'Perigee (km)', 'Apogee (km)',
       'Eccentricity', 'Inclination (degrees)', 'Period (minutes)',
       'Launch Mass (kg.)', ' Dry Mass (kg.) ', 'Power (watts)',
       'Date of Launch', 'Expected Lifetime (yrs.)', 'Contractor',
       'Country of Contractor', 'Launch Site', 'Launch Vehicle',
       'COSPAR Number', 'NORAD Number', 'Comments', 'Unnamed: 27',
       'Source Used for Orbital Data', 'Source', 'Source.1', 'Source.2',
       'Source.3', 'Source.4', 'Source.5', 'Source.6', 'Unnamed: 36',
       'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40',
       'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44',
       'Unnamed: 45', 'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48',
       'Unnamed: 49', 'Unnamed: 50', 'Unnamed: 51', 'Unnamed: 52',
       'Unnamed: 53', 'Unnamed: 54', 'Unnamed: 55', 'Unnamed: 56',
       'Unnamed: 57', 'Unnamed: 58', 'Unnamed: 59', 'Unnamed: 60',
       'Unnamed: 61', 'Unnamed: 62', 'Unnamed: 63', 'Unnamed: 64',
       'Unnamed: 65', 'Unnamed: 66'],
      dtype='object')

First 5 rows:    Current Official Name of Satellite Country/Org of UN Registry  \
0                         1HOPSAT-TD                         NR
1            AAC AIS-Sat1Ê(Kelpie 1)             United Kingdom
2                            Aalto-1                    Finland
3                              AAt-4                    Denmark
4                              ABS-2                         NR

  Country of Operator/Owner                 Operator/Owner       Users  \
0                       USA                   Hera Systems  Commercial
1            United Kingdom                AAC Clyde Space  Commercial
2                   Finland               Aalto University       Civil
3                   Denmark          University of Aalborg       Civil
4             Multinational  Asia Broadcast Satellite Ltd.  Commercial

                  Purpose                       Detailed Purpose  \
0       Earth Observation                       Infrared Imaging
1       Earth Observation  Automatic Identification System (AIS)
2  Technology Development                                    NaN
3       Earth Observation  Automatic Identification System (AIS)
4          Communications                                    NaN

  Class of Orbit       Type of Orbit  Longitude of GEO (degrees)  ...  \
0            LEO  Non-Polar Inclined                         0.0  ...
1            LEO     Sun-Synchronous                         0.0  ...
2            LEO     Sun-Synchronous                         0.0  ...
3            LEO     Sun-Synchronous                         0.0  ...
4            GEO                 NaN                        75.0  ...

  Unnamed: 57 Unnamed: 58  Unnamed: 59  Unnamed: 60 Unnamed: 61 Unnamed: 62  \
0         NaN         NaN          NaN          NaN         NaN         NaN
1         NaN         NaN          NaN          NaN         NaN         NaN
2         NaN         NaN          NaN          NaN         NaN         NaN
3         NaN         NaN          NaN          NaN         NaN         NaN
4         NaN         NaN          NaN          NaN         NaN         NaN

  Unnamed: 63 Unnamed: 64 Unnamed: 65  Unnamed: 66
0         NaN         NaN         NaN          NaN
1         NaN         NaN         NaN          NaN
2         NaN         NaN         NaN          NaN
3         NaN         NaN         NaN          NaN
4         NaN         NaN         NaN          NaN

[5 rows x 67 columns]

Data types:  Current Official Name of Satellite    object
Country/Org of UN Registry            object
Country of Operator/Owner             object
Operator/Owner                        object
Users                                 object
                                       ...
Unnamed: 62                           object
Unnamed: 63                           object
Unnamed: 64                           object
Unnamed: 65                           object
Unnamed: 66                           object
Length: 67, dtype: object

# Step 02: Cleaning Dataset
- Removing empty or irrelevant columns (like "Unnamed: XX").
- Standardizing column names (strip spaces, lowercase, replace spaces with underscores).

In [11]:
df= df.loc[:, ~df.columns.str.contains('^Unnamed')]

df.columns= (
    df.columns
    .str.strip()
    .str.lower()
    .str.replace(" ", "_")
    .str.replace(r'[^\w]', '', regex=True)
)

print("Shape after cleaning: ", df.shape)
print("\nColumn names after cleaning: \n", df.columns.tolist()[:20])

Shape after cleaning:  (7562, 35)

Column names after cleaning:
 ['current_official_name_of_satellite', 'countryorg_of_un_registry', 'country_of_operatorowner', 'operatorowner', 'users', 'purpose', 'detailed_purpose', 'class_of_orbit', 'type_of_orbit', 'longitude_of_geo_degrees', 'perigee_km', 'apogee_km', 'eccentricity', 'inclination_degrees', 'period_minutes', 'launch_mass_kg', 'dry_mass_kg', 'power_watts', 'date_of_launch', 'expected_lifetime_yrs']

# Step 03: Handling Missing Values and Selecting Core Columns
- Identifying and handling missing values (e.g., filling with default values, removing rows/columns).
- Selecting only the core columns that are essential for analysis (e.g., "satellite_name", "launch_date", "country", "payload_mass_kg", "orbit_type").

In [12]:
missing_values= df.isnull().sum().sort_values(ascending=False)
print("\nMissing values in each column: \n", missing_values.head(20))

core_columns = [
    "current_official_name_of_satellite",
    "countryorg_of_un_registry",
    "country_of_operatorowner",
    "operatorowner",
    "users",
    "purpose",
    "class_of_orbit",
    "type_of_orbit",
    "perigee_km",
    "apogee_km",
    "inclination_degrees",
    "period_minutes",
    "launch_mass_kg",
    "power_watts",
    "date_of_launch",
    "expected_lifetime_yrs"
]

df_core= df[[col for col in core_columns if col in df.columns]]

print("\nShape of reduced dataset:", df_core.shape)
print("\nFirst 5 rows:\n", df_core.head())

Missing values in each column:
 source6                         7058
source5                         7009
power_watts                     6983
source1                         6837
source4                         6833
dry_mass_kg                     6795
source3                         6436
detailed_purpose                6308
source2                         5730
comments                        5477
source                          4276
expected_lifetime_yrs           2112
source_used_for_orbital_data     925
type_of_orbit                    653
launch_mass_kg                   247
period_minutes                    58
eccentricity                      13
apogee_km                          9
perigee_km                         9
inclination_degrees                6
dtype: int64

Shape of reduced dataset: (7562, 16)

First 5 rows:
   current_official_name_of_satellite countryorg_of_un_registry  \
0                         1HOPSAT-TD                        NR
1            AAC AIS-Sat1Ê(Kelpie 1)            United Kingdom
2                            Aalto-1                   Finland
3                              AAt-4                   Denmark
4                              ABS-2                        NR

  country_of_operatorowner                  operatorowner       users  \
0                      USA                   Hera Systems  Commercial
1           United Kingdom                AAC Clyde Space  Commercial
2                  Finland               Aalto University       Civil
3                  Denmark          University of Aalborg       Civil
4            Multinational  Asia Broadcast Satellite Ltd.  Commercial

                  purpose class_of_orbit       type_of_orbit perigee_km  \
0       Earth Observation            LEO  Non-Polar Inclined        566
1       Earth Observation            LEO     Sun-Synchronous        637
2  Technology Development            LEO     Sun-Synchronous        497
3       Earth Observation            LEO     Sun-Synchronous        442
4          Communications            GEO                 NaN     35,778

  apogee_km  inclination_degrees period_minutes launch_mass_kg power_watts  \
0       576                36.90          96.08             22         NaN
1       654                98.00             95              4         NaN
2       517                97.45           94.7              5        4.50
3       687                98.20           95.9              1         NaN
4    35,793                 0.08        1436.03          6,330   16,000.00

  date_of_launch  expected_lifetime_yrs
0       12/11/19                    0.5
1         1/3/23                    NaN
2        6/23/17                    2.0
3        4/25/16                    NaN
4         2/6/14                   15.0

# Step 04: Data Type Conversion
- Converting columns to appropriate data types (e.g., dates, numerical values).

In [13]:
df_core['date_of_launch']= pd.to_datetime(df_core['date_of_launch'], errors='coerce')

numeric_columns= [
    "perigee_km",
    "apogee_km",
    "inclination_degrees",
    "period_minutes",
    "launch_mass_kg",
    "power_watts",
    "expected_lifetime_yrs"
]

for col in numeric_columns:
    if col in df_core.columns:
        df_core[col]= pd.to_numeric(df_core[col], errors='coerce')

print("\nDataset info:")
print(df_core.info())

print("\nSummary stats for numeric columns:\n", df_core.describe().T)

print("\nFirst 5 rows after wrangling:\n", df_core.head())

Dataset info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7562 entries, 0 to 7561
Data columns (total 16 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   current_official_name_of_satellite  7560 non-null   object
 1   countryorg_of_un_registry           7559 non-null   object
 2   country_of_operatorowner            7560 non-null   object
 3   operatorowner                       7560 non-null   object
 4   users                               7560 non-null   object
 5   purpose                             7560 non-null   object
 6   class_of_orbit                      7560 non-null   object
 7   type_of_orbit                       6909 non-null   object
 8   perigee_km                          6210 non-null   float64
 9   apogee_km                           6185 non-null   float64
 10  inclination_degrees                 7556 non-null   float64
 11  period_minutes                      7503 non-null   float64
 12  launch_mass_kg                      6483 non-null   float64
 13  power_watts                         228 non-null    float64
 14  date_of_launch                      7557 non-null   datetime64[ns]
 15  expected_lifetime_yrs               5450 non-null   float64
dtypes: datetime64[ns](1), float64(7), object(8)
memory usage: 945.4+ KB
None

Summary stats for numeric columns:
                         count                           mean  \
perigee_km             6210.0                     522.969243
apogee_km              6185.0                     535.534842
inclination_degrees    7556.0                      62.534156
period_minutes         7503.0                     223.301863
launch_mass_kg         6483.0                     225.141447
power_watts             228.0                       195.0875
date_of_launch           7557  2019-12-05 04:34:12.242953728
expected_lifetime_yrs  5450.0                       5.350413

                                       min                  25%  \
perigee_km                           150.0                500.0
apogee_km                             49.0                524.0
inclination_degrees                    0.0                 53.0
period_minutes                         9.0                 95.0
launch_mass_kg                         1.0                148.0
power_watts                            0.0                 50.0
date_of_launch         1988-09-29 00:00:00  2019-12-27 00:00:00
expected_lifetime_yrs                 0.25                  4.0

                                       50%                  75%  \
perigee_km                           539.0                562.0
apogee_km                            548.0                567.0
inclination_degrees                   53.2                 87.4
period_minutes                        95.6                 96.5
launch_mass_kg                       260.0                260.0
power_watts                          120.0                300.0
date_of_launch         2021-05-09 00:00:00  2022-07-11 00:00:00
expected_lifetime_yrs                  4.0                  5.0

                                       max         std
perigee_km                           989.0  104.807971
apogee_km                            997.0  106.618526
inclination_degrees                  143.4   27.236593
period_minutes                     11520.0  437.164349
launch_mass_kg                       980.0  157.634513
power_watts                          955.0  224.582898
date_of_launch         2074-11-15 00:00:00         NaN
expected_lifetime_yrs                 30.0    3.421953

First 5 rows after wrangling:
   current_official_name_of_satellite countryorg_of_un_registry  \
0                         1HOPSAT-TD                        NR
1            AAC AIS-Sat1Ê(Kelpie 1)            United Kingdom
2                            Aalto-1                   Finland
3                              AAt-4                   Denmark
4                              ABS-2                        NR

  country_of_operatorowner                  operatorowner       users  \
0                      USA                   Hera Systems  Commercial
1           United Kingdom                AAC Clyde Space  Commercial
2                  Finland               Aalto University       Civil
3                  Denmark          University of Aalborg       Civil
4            Multinational  Asia Broadcast Satellite Ltd.  Commercial

                  purpose class_of_orbit       type_of_orbit  perigee_km  \
0       Earth Observation            LEO  Non-Polar Inclined       566.0
1       Earth Observation            LEO     Sun-Synchronous       637.0
2  Technology Development            LEO     Sun-Synchronous       497.0
3       Earth Observation            LEO     Sun-Synchronous       442.0
4          Communications            GEO                 NaN         NaN

   apogee_km  inclination_degrees  period_minutes  launch_mass_kg  \
0      576.0                36.90           96.08            22.0
1      654.0                98.00           95.00             4.0
2      517.0                97.45           94.70             5.0
3      687.0                98.20           95.90             1.0
4        NaN                 0.08         1436.03             NaN

   power_watts date_of_launch  expected_lifetime_yrs
0          NaN     2019-12-11                    0.5
1          NaN     2023-01-03                    NaN
2          4.5     2017-06-23                    2.0
3          NaN     2016-04-25                    NaN
4          NaN     2014-02-06                   15.0

C:\Users\asus\AppData\Local\Temp\ipykernel_21744\3599063134.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_core['date_of_launch']= pd.to_datetime(df_core['date_of_launch'], errors='coerce')
C:\Users\asus\AppData\Local\Temp\ipykernel_21744\3599063134.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_core['date_of_launch']= pd.to_datetime(df_core['date_of_launch'], errors='coerce')
C:\Users\asus\AppData\Local\Temp\ipykernel_21744\3599063134.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_core[col]= pd.to_numeric(df_core[col], errors='coerce')