In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Step 01: Loading the UCS Satellite Dataset

In [10]:
file_path= "../data/text-data/ucs_satellites.txt"

df= pd.read_csv(file_path, sep="\t", encoding="latin1")

print("Shape of the dataset: ", df.shape)
print("\nColumn names: ", df.columns)
print("\nFirst 5 rows: ", df.head())
print("\nData types: ", df.dtypes)

Shape of the dataset:  (7562, 67)

Column names:  Index(['Current Official Name of Satellite', 'Country/Org of UN Registry',
       'Country of Operator/Owner', 'Operator/Owner', 'Users', 'Purpose',
       'Detailed Purpose', 'Class of Orbit', 'Type of Orbit',
       'Longitude of GEO (degrees)', 'Perigee (km)', 'Apogee (km)',
       'Eccentricity', 'Inclination (degrees)', 'Period (minutes)',
       'Launch Mass (kg.)', ' Dry Mass (kg.) ', 'Power (watts)',
       'Date of Launch', 'Expected Lifetime (yrs.)', 'Contractor',
       'Country of Contractor', 'Launch Site', 'Launch Vehicle',
       'COSPAR Number', 'NORAD Number', 'Comments', 'Unnamed: 27',
       'Source Used for Orbital Data', 'Source', 'Source.1', 'Source.2',
       'Source.3', 'Source.4', 'Source.5', 'Source.6', 'Unnamed: 36',
       'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40',
       'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44',
       'Unnamed: 45', 'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48',
       'Unnamed: 49', 'Unnamed: 50', 'Unnamed: 51', 'Unnamed: 52',
       'Unnamed: 53', 'Unnamed: 54', 'Unnamed: 55', 'Unnamed: 56',
       'Unnamed: 57', 'Unnamed: 58', 'Unnamed: 59', 'Unnamed: 60',
       'Unnamed: 61', 'Unnamed: 62', 'Unnamed: 63', 'Unnamed: 64',
       'Unnamed: 65', 'Unnamed: 66'],
      dtype='object')

First 5 rows:    Current Official Name of Satellite Country/Org of UN Registry  \
0                         1HOPSAT-TD                         NR
1            AAC AIS-Sat1ÃŠ(Kelpie 1)             United Kingdom
2                            Aalto-1                    Finland
3                              AAt-4                    Denmark
4                              ABS-2                         NR

  Country of Operator/Owner                 Operator/Owner       Users  \
0                       USA                   Hera Systems  Commercial
1            United Kingdom                AAC Clyde Space  Commercial
2                   Finland               Aalto University       Civil
3                   Denmark          University of Aalborg       Civil
4             Multinational  Asia Broadcast Satellite Ltd.  Commercial

                  Purpose                       Detailed Purpose  \
0       Earth Observation                       Infrared Imaging
1       Earth Observation  Automatic Identification System (AIS)
2  Technology Development                                    NaN
3       Earth Observation  Automatic Identification System (AIS)
4          Communications                                    NaN

  Class of Orbit       Type of Orbit  Longitude of GEO (degrees)  ...  \
0            LEO  Non-Polar Inclined                         0.0  ...
1            LEO     Sun-Synchronous                         0.0  ...
2            LEO     Sun-Synchronous                         0.0  ...
3            LEO     Sun-Synchronous                         0.0  ...
4            GEO                 NaN                        75.0  ...

  Unnamed: 57 Unnamed: 58  Unnamed: 59  Unnamed: 60 Unnamed: 61 Unnamed: 62  \
0         NaN         NaN          NaN          NaN         NaN         NaN
1         NaN         NaN          NaN          NaN         NaN         NaN
2         NaN         NaN          NaN          NaN         NaN         NaN
3         NaN         NaN          NaN          NaN         NaN         NaN
4         NaN         NaN          NaN          NaN         NaN         NaN

  Unnamed: 63 Unnamed: 64 Unnamed: 65  Unnamed: 66
0         NaN         NaN         NaN          NaN
1         NaN         NaN         NaN          NaN
2         NaN         NaN         NaN          NaN
3         NaN         NaN         NaN          NaN
4         NaN         NaN         NaN          NaN

[5 rows x 67 columns]

Data types:  Current Official Name of Satellite    object
Country/Org of UN Registry            object
Country of Operator/Owner             object
Operator/Owner                        object
Users                                 object
                                       ...
Unnamed: 62                           object
Unnamed: 63                           object
Unnamed: 64                           object
Unnamed: 65                           object
Unnamed: 66                           object
Length: 67, dtype: object

# Step 02: Cleaning Dataset
- Removing empty or irrelevant columns (like "Unnamed: XX").
- Standardizing column names (strip spaces, lowercase, replace spaces with underscores).

In [11]:
df= df.loc[:, ~df.columns.str.contains('^Unnamed')]

df.columns= (
    df.columns
    .str.strip()
    .str.lower()
    .str.replace(" ", "_")
    .str.replace(r'[^\w]', '', regex=True)
)

print("Shape after cleaning: ", df.shape)
print("\nColumn names after cleaning: \n", df.columns.tolist()[:20])

Shape after cleaning:  (7562, 35)

Column names after cleaning:
 ['current_official_name_of_satellite', 'countryorg_of_un_registry', 'country_of_operatorowner', 'operatorowner', 'users', 'purpose', 'detailed_purpose', 'class_of_orbit', 'type_of_orbit', 'longitude_of_geo_degrees', 'perigee_km', 'apogee_km', 'eccentricity', 'inclination_degrees', 'period_minutes', 'launch_mass_kg', 'dry_mass_kg', 'power_watts', 'date_of_launch', 'expected_lifetime_yrs']

# Step 03: Handling Missing Values and Selecting Core Columns
- Identifying and handling missing values (e.g., filling with default values, removing rows/columns).
- Selecting only the core columns that are essential for analysis (e.g., "satellite_name", "launch_date", "country", "payload_mass_kg", "orbit_type").